:root {
  --primary-50: #f7fee7;
  --primary-100: #ecfccb;
  --primary-200: #d9f99d;
  --primary-300: #bef264;
  --primary-400: #a3e635;
  --primary-500: #84cc16;
  --primary-600: #65a30d;
  --primary-700: #4d7c0f;
  --primary-800: #3f6212;
  --primary-900: #365314;

  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;

  --purple: orchid;
  --blue: steelblue;
  --green: var(--primary-500);

  --size-0-5: .0625rem;
  --size-1: .125rem;
  --size-2: .25rem;
  --size-3: .375rem;
  --size-4: .5rem;
  --size-6: .75rem;
  --size-8: 1rem;
  --size-12: 1.5rem;
  --size-16: 2rem;
  --size-32: 4rem;

  --duration-short: 90ms;
  --duration-swift: 200ms;

  --font-text: "Titillium Web", "Arial", sans-serif;
  --font-mono: "IBM Plex Mono", "JetBrains Mono", "Fira Code", "FiraCode Nerd Font", monospace;

  /*
   * Screen sizes:
   * md: 768px
   * lg: 1200px
  */

  font-size: 16px;
  font-family: var(--font-text);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  scroll-behavior: smooth
}

/* reusable pieces of css that can be extended with commas */
/* button */
.navbar__link {
  padding: var(--size-4) var(--size-6);
  line-height: 1;
  text-decoration: none;
  color: black;
}
.navbar__link:hover,
.navbar__link:focus {
  background: var(--primary-400);
  outline: var(--size-1) solid black;
  outline-offset: calc(-1 * var(--size-1));
}

.navbar__link:active {
  background: transparent;
}
/* end */

.page {
  padding: var(--size-16) 0 var(--size-32);
}

.constrainted {
  max-width: 1200px;
  margin: 0 auto;
}

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: var(--size-8);
  font-family: var(--font-mono);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}

.page__header::before,
.page__header::after {
  content: '';
  flex: 1;
  display: block;
  height: var(--size-1);
  background: currentcolor;
}

.page__header a {
  --underline-color: var(--primary-200);
  position: relative;
  padding: 0 var(--size-1);
  margin: 0 var(--size-12);
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    transparent calc(50% - 9px),
    var(--underline-color) calc(50% - 9px));
  background-size: 100% 200%;
  background-position: 0 0;
  transition: background-position var(--duration-short);
}

.page__header a:hover {
  --underline-color: var(--primary-400);
  background-position: 0 100%;
}

.page-head {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}

.page-head > .constrainted {
  flex: 1;
  margin: 0;
}

.page-head__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#matrix {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.term {
  display: flex;
  line-height: 1;
  font-family: var(--font-mono);
  background: rgba(0, 0, 0, .5);
}

.term__command {
  white-space: pre;
}

.term__input {
  width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.term__cursor {
  width: 0.5rem;
  height: 1rem;
}

.term__input:focus ~ .term__cursor {
  background: white;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {opacity: 1}
  60% {opacity: 1}
  70% {opacity: 0}
  100% {opacity: 0}
}

.navbar__wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: var(--size-1) var(--size-8);
  font-family: var(--font-mono);
  line-height: 1;
  color: black;
  background: var(--primary-500);
  transform: translateY(-100%);
  transition: transform var(--duration-swift);
}

.navbar__wrapper.is-shown {
  transform: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0 var(--size-8);
  font-family: var(--font-text);
}

.about__img {
  /* and you thought it is useless? */
  flex: 0 0;
  box-sizing: content-box;
  align-self: center;
  border: var(--size-1) solid var(--primary-500);
  border-radius: 50%;
}

.about__text {
  flex: 1 1 0%;
  margin: 0;
  padding-top: var(--size-8);
}

.about__img + .about__text {
  flex-grow: .9;
  font-size: 18px;
}

.about__text strong {
  font-weight: 600;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
  }
  .about__text {
    padding-left: var(--size-8);
  }
}

.page-links {
  padding-top: 0;
  padding-bottom: 0;
  background: var(--primary-500);
}

.page-links__content {
  display: flex;
  justify-content: center;
  font-family: var(--font-mono);
}

.page-links__item {
  padding: var(--size-8);
  line-height: 1;
  text-decoration: none;
  color: inherit;
}

.page-links__item:hover {
  text-decoration: underline;
}

.page-web3 {
  color: white;
  background: black;
}

.page-web3__img {
  display: none;
}

@media (min-width: 768px) {
  .page-web3__content {
    --img-font-size: 8rem;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr calc(1.2 * var(--img-font-size));
    grid-template-areas:
      "header header"
      "text   img";
  }

  .page-web3 .page__header {
    grid-area: header;
  }

  .page-web3__text {
    grid-area: text;
    align-self: center;
  }
  .page-web3__img {
    display: block;
  }
}

.page-web3 .page__header a {
  --underline-color: var(--primary-600);
}

.page-web3 .page__header a:hover {
  --underline-color: var(--primary-400);
}

.page-web3 p {
  padding: 0 var(--size-8);
  margin: 0 0 var(--size-8) 0;
}

.page-web3__links {
  display: flex;
  font-family: var(--font-mono);
}

.page-web3__link {
  padding: var(--size-4) var(--size-6);
  line-height: 1;
  text-decoration: none;
  color: inherit;
}

.page-web3__link:first-child {
  color: black;
  background: var(--primary-500);
}

.page-web3__link:hover,
.page-web3__link:focus {
  color: inherit;
  background: var(--gray-800);
  outline: var(--size-1) solid var(--primary-500);
  outline-offset: calc(-1 * var(--size-1));
}

.page-web3__link:active {
  color: inherit;
  background: transparent;
}

.page-web3__big {
  margin-bottom: -2rem;
  font-family: var(--font-mono);
  font-size: var(--img-font-size);
  line-height: 1;
  letter-spacing: -.1em;
  writing-mode: vertical-rl;
  /* https://codeworkshop.dev/blog/2020-08-13-how-to-add-a-gradient-to-text-with-css/ */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to bottom,
    #ffffffff 0%,
    #ffffff00 100%);
  pointer-events: none;
  user-select: none;
}

.skill-category {
  margin: var(--size-8) 0;
  font-family: var(--font-mono);
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--gray-800);
  text-align: center;
}

.page__header + .skill-category {
  margin-top: 0;
}

.skill-list {
  display: grid;
  grid-gap: var(--size-4);
}

@media (min-width: 768px) {
  .skill-list {
    grid-template-columns: 1fr 1fr;
  }
}

.skill {
  display: grid;
  padding: var(--size-4) var(--size-8);
  border: var(--size-0-5) solid var(--gray-300);
  grid-template-areas:
    "name     ptext"
    "progress progress";
  font-family: var(--font-mono);
}

/* layout */
.skill__name {
  grid-area: name;
}

.skill__progress-text {
  grid-area: ptext;
  justify-self: end;
}

.skill__progress {
  grid-area: progress;
}
/* end layout */

.skill__name {
  margin: 0;
  color: var(--gray-800);
}

.skill__progress-text {
  align-self: end;
  margin: 0;
  font-size: .9rem;
}

.skill__progress {
  height: var(--size-2);
  margin-top: var(--size-4);
}

.skill__progress--less {
  width: 20%;
  background: var(--purple);
}

.skill__progress--more {
  width: 60%;
  background: linear-gradient(to right, var(--purple) 0%, var(--blue) 60%);
}

.skill__progress--full {
  width: 100%;
  background: linear-gradient(to right, var(--purple) 0%, var(--blue) 30%, var(--green) 60%);
}

.page-projects {
  background: var(--gray-50);
}

.project-list {
  display: grid;
  grid-gap: var(--size-4);
}

@media (min-width: 768px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

.project {
  padding: var(--size-4) var(--size-8);
  border: var(--size-0-5) solid var(--gray-300);
}

.project__name {
  margin: 0;
  font-family: var(--font-mono);
  color: var(--gray-800);
}

.project__name > a {
  text-decoration: none;
  color: inherit;
}

.project__name > a:hover {
  text-decoration: underline;
}

.project__description {
  margin: 0 0 var(--size-4) 0;
  color: var(--gray-800);
}

.project__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project__tags--filter {
  justify-content: center;
  margin-bottom: var(--size-4);
}

.project__tags__item {
  padding: var(--size-2) var(--size-6);
  margin: 0 var(--size-2) var(--size-2) 0;
  font-family: var(--font-mono);
  font-weight: 600;
  line-height: 1;
  color: var(--gray-800);
  background: var(--gray-200);
  transition: background-color var(--duration-short);
  user-select: none;
  cursor: pointer;
}

.project__tags__item:hover {
  background: var(--primary-300);
  color: black;
}

.project__tags__item--active {
  outline: var(--size-1) solid currentcolor;
  outline-offset: calc(-1 * var(--size-1));
}

.project__tags__item--active {
  outline-color: var(--primary-500);
}

.teacher-list {
  display: grid;
  grid-gap: var(--size-4);
}

@media (min-width: 768px) {
  .teacher-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .teacher-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.teacher {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "avatar name"
    "about about";
  grid-gap: var(--size-2) var(--size-4);
  padding: var(--size-6) var(--size-8);
  border: var(--size-0-5) solid var(--gray-300);
}

/* layout */
.teacher__avatar {
  grid-area: avatar;
}

.teacher__name {
  grid-area: name;
  align-self: center;
}


.teacher__about {
  grid-area: about;
}
/* end layout */

.teacher__avatar {
  grid-area: avatar;
  /* these are also set in html */
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.teacher__avatar--color {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background: var(--purple);
}

.teacher__name {
  margin: 0;
  font-family: var(--font-mono);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
}

.teacher__about {
  margin: 0;
}

.teacher__about strong {
  font-weight: 600;
}

.teacher__about a {
  text-decoration: none;
  color: var(--primary-600);
}

.teacher__about a:hover {
  text-decoration: underline;
}

.thats-all {
  padding: 0 var(--size-4);
  margin: 0 0 var(--size-8) 0;
  font-family: var(--font-mono);
  text-align: center;
}
