:root {
  --primary-50: #f7fee7;
  --primary-100: #ecfccb;
  --primary-200: #d9f99d;
  --primary-300: #bef264;
  --primary-400: #a3e635;
  --primary-500: #84cc16;
  --primary-600: #65a30d;
  --primary-700: #4d7c0f;
  --primary-800: #3f6212;
  --primary-900: #365314;

  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;

  --size-1: .125rem;
  --size-2: .25rem;
  --size-3: .375rem;
  --size-4: .5rem;
  --size-6: .75rem;
  --size-8: 1rem;
  --size-12: 1.5rem;
  --size-16: 2rem;
  --size-32: 4rem;

  --duration-swift: 200ms;

  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  scroll-behavior: smooth
}

.page {
  padding: var(--size-32) var(--size-16);
}

.constrainted {
  max-width: 980px;
  margin: 0 auto;
}

.page-head {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}

.page-head__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#matrix {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.term {
  display: flex;
  line-height: 1;
  background: rgba(0, 0, 0, .5);
}

.term__input {
  width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.term__cursor {
  width: 0.5rem;
  height: 1rem;
}

.term__input:focus ~ .term__cursor {
  background: white;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {opacity: 1}
  60% {opacity: 1}
  70% {opacity: 0}
  100% {opacity: 0}
}

.navbar__wrapper {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: var(--size-4) var(--size-8);
  line-height: 1;
  color: black;
  background: var(--primary-500);
  transform: translateY(-100%);
  transition: transform var(--duration-swift);
}

.navbar__wrapper.is-shown {
  transform: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  display: flex;
}

.navbar__link {
  padding: var(--size-4) var(--size-6);
  text-decoration: none;
  color: black;
}
.navbar__link:hover,
.navbar__link:focus {
  background: var(--primary-400);
  outline: var(--size-1) solid black;
  outline-offset: calc(-1 * var(--size-1));
}

.navbar__link:active {
  background: transparent;
}
